* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

/* Common Styles */

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

/* Navbar, Header */
header {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 64px;
    color: #4f4f4f;

}

header img {

    justify-content: flex-start;
    padding-left: 24px;
}

#colmarcolor {
    color: #9f9b9b;
    
}

#academycolor {
    color: #01161E;
    
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    color: #4f4f4f;
    
}

nav a {
    padding: 0px 16px;
    text-decoration: none;
}

/* Section 1 */

.banner {
    display: flex;
    background-color: #c4c2c2;
    align-items: center;
}

.banner img {
    padding-top: 32px;
    padding-left: 24px;
    padding-bottom: 32px;
    padding-right: 24px;
    width: 60%;
    
}

.banner div {

    justify-content: center;
    background-position: center;
    

}

.banner button {
    width: 60%;
    padding-top: 8px;
    background-color: #515151;

}

/* section 2 */

.practicing {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    

}

.practicing img {
    
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.practicing a {
    color: #4577bc ;
}

.infodetail {
    width: 60%;
   
    
}
#margintop {
    padding-top: 24px;
}
   

.contentinfo img {

    width: 35%;
    flex-wrap: wrap;
    
}

.contentdetails {
    width: 65%;
    flex-wrap: wrap;
    flex-direction: column;
    
}

/* Section 3 */
.startlearning {
    
    background-color: #e1dfdf;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.course {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px;
}
.pic {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    
}
.pic img {
    width: 50%;
    justify-content: center;
}

/* 4th section */
.video {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}


/* footer */

.copy {
    display: flex;
    width: 100%;
    padding-left: 24px;
    align-items: center;
    justify-content: flex-start;
}
.other {
    display: flex;
    width: 100%;
    padding: 0px 16px;
    align-items: center;
    justify-content: flex-end;
}